@{ Layout = "~/Views/Shared/_LayoutSpa.cshtml"; }

<noscript>
    <h1>You need javascript to access this site.</h1>
</noscript>

<div id="appLoadingScreen" style="position: absolute; left: 50%; top: 50%; margin: -57px 0 0 -116px;">
    <div class="text-center" style="font-size: 5em;">
        @*<span class="firelogo-fire font-red-thunderbird" style="font-size: 1em;"></span>*@
        <span class="icomoon-fire font-red-thunderbird" style="font-size: 1em;"></span>
        <span style="font-weight: 500;">Blaze</span>
    </div>
    <div class="spinner" style="margin: 0 auto 0;">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    @*<div id="loadingText" class="text-center">Loading Resources</div>*@
</div>