<p>
    <img src="/Images/logo-login.png" alt="Blaze DSP" />
</p>
<p class="text-right font-grey-cascade">
    v@(Blaze.DSP.Library.Helpers.Assembly.ApplicationInformation.ExecutingAssemblyVersion)
</p>