<!--<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-grey-silver">
            o_0
        </div>
        <div class="details">
            <h3>
                No Internet connection.
            </h3>
            <p>
                You're not connected to the Internet.
                <br />
                {{!link-to 'Return home' 'dashboard.index'}}
                or refresh the page to try again.
            </p>
        </div>
    </div>
</div>-->