<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
            404
        </div>
        <div class="details">
            <h3>
                Oops! You're lost.
            </h3>
            <p>
                We can not find the page you're looking for.
                <br />
                {{link-to 'Return home' 'dashboard.index'}}
            </p>
        </div>
    </div>
</div>