@{ ViewBag.Title = "Lander"; }

<div class="div-center">
    <h1>@(ViewBag.Title)</h1>
    <p>
        <a href="//127.0.0.2:81/l/1/">
            Click here to buy
        </a>
    </p>
    <p>
        <img src="//127.0.0.2:81/l/t.gif" alt="tracking pixel" />
    </p>
</div>

@section Scripts
{
    @*<script src="//127.0.0.2:81/51Degrees.features.js" type="text/javascript"></script>
    <script type="text/javascript">
        alert(window.FODF.PlatformName);
    </script>*@
}