<div class="row">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-helper uppercase">Account</span>
                    <span class="caption-subject font-blue-madison bold uppercase">
                        User
                    </span>
                </div>
            </div>
            <div class="portlet-body">

                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Total Reatime Events</label>
                            <div class="col-lg-9">
                                <div class="checkbox-list">
                                    <label>
                                        <input type="radio" name="abcd" checked="checked" /> 10
                                    </label>
                                    <label>
                                        <input type="radio" name="abcd" /> 25
                                    </label>
                                    <label>
                                        <input type="radio" name="abcd" /> 50
                                    </label>
                                    <label>
                                        <input type="radio" name="abcd" /> 100
                                    </label>
                                </div>
                                <span class="help-block">
                                    The maximum number of realtime events to display on the dashboard
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-9">
                                <button type="button" class="btn green" disabled="disabled">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>        
</div>