<div class="row">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">
                        Campaigns
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <tbody>
                            {{#each item in model}}
                            <tr>
                                <td>
                                    {{link-to item.name 'dashboard.campaign.read' item.id}}
                                    <!--{{!item.name}}-->
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{#unless model}}
                <div class="note note-info note-shadow">
                    <p>
                        No campaigns, click {{link-to 'here' 'campaigns'}} to get started.
                    </p>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {{outlet}}
    </div>
</div>