<p>
    <a id="unloadappdomain" class="btn btn-xs btn-default" target="_blank" href="@Url.Action("Index", "UnloadAppDomain")">
        Unload App Domain
    </a>
    <span id="unloadstatus"></span>
</p>